//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	font-family: Lato;
	text-align: center;
	white-space: nowrap;
	font-weight: 500;
	display: inline-block;
	padding: rem(19.8) rem(24);
	background-color: #23B123;
	border: 1px solid #23B123;
	border-radius: rem(10);
	line-height: math.div(22, 18);
	transition: all 0.3s ease 0s;

	@media (min-width:$tablet){
		min-width: rem(142);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #1c851c;
			border: 1px solid #1c851c;
		}
	}
	&_border{
		background-color: transparent;
		border: 1px solid #FFFFFF;
		padding: rem(19.8) rem(43.6);

		&:hover {
			background-color: #dddddd;
			color: black;
		}
	}
	&._fw {
		width: 100%;
	}
	@media (max-width:$tablet){
		padding: rem(17) rem(12);
		&_border{
			padding: rem(17) rem(30);
			}
		}

		@media (max-width:$mobile){
			padding: rem(17) rem(12);
			&_border{
				padding: rem(15) rem(22);
			}
		}

		@media (max-width:$mobileSmall){
			padding: rem(17) rem(12);
			&_border{
				padding: rem(12) rem(15);
			}
		}
}
._header-scroll{
	&.button_border{
	}
}