// Заголовки, общие БЄМ блоки и проче...

.page {

	&__main {
	}

	&__partners {
		@include adaptiveValue("padding-bottom",200 , 30);
	}
}

.title {
	font-weight: 600;
	font-size: rem(70);
	line-height: math.div(63 ,70);
	color: rgb(252, 252, 252);
	@include adaptiveValue("font-size", 70, 45);
	span {
		color: $greenColor;
	}
}