//====================================================================================================


.main-block {

  &__container-big {
    position: relative;
  }

  &__container {
    padding: 0;
  }

  &__content {
    padding-top: rem(250);
    padding-bottom: rem(200);
    @include adaptiveValue("padding-top", 250, 120);
    @include adaptiveValue("padding-bottom", 200, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: rem(800);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 69, 30);
    }
  }

  &__text {
    max-width: rem(570);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }

  &__form {
    @media (max-width: em(430)) {
      width: 100%;
    }
  }

  &__icons {}
}

.button {}

.icons-main-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  @media (max-width:$mobile) {
    opacity: 0.2;
  }

  &__item {
    position: absolute;
    z-index: -1;

    &_1 {
      top: percent(675, 974);
      left: rem(15);
    }

    &_2 {
      top: percent(380, 974);
      left: percent(237, 1620);
    }

    &_3 {
      top: percent(134, 974);
      left: percent(1150, 1620);
    }

    &_4 {
      top: percent(419, 974);
      left: percent(1325, 1620);
    }

    &_5 {
      top: percent(367, 974);
      right: 0;
    }

    &_6 {
      top: percent(757, 974);
      left: percent(403, 1620);
    }

    &_7 {
      top: percent(776, 974);
      left: percent(1321, 1620);
    }
  }

  &__circle {
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    @include adaptiveValue("width", 585, 250);
    @include adaptiveValue("height", 585, 250);

    &::before {
      content: '';
      display: block;
      border-radius: 50%;
      border: 1px solid #ffffff;
      width: 100%;
      height: 100%;
    }

    &_1 {
      &::before {
        content: '';
        transform: translate(calc(-50% - rem(28)), -35%);
      }
    }

    &_2 {
      &::before {
        content: '';
        transform: translate(calc(-50% + rem(27)), -44%);
      }
    }
  }
}


.partners {

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: rem(25);
    column-gap: rem(40);

    @media (max-width: em(1100)) {
      justify-content: center;
    }
  }

  &__item {
    text-align: center;

    & img {
      max-width: 100%;
    }
  }
}




.how {

  &__container {
    display: grid;
		row-gap: rem(30);
		@media (min-width:$tablet){
			grid-template-columns: 1fr percent(750, 1420);
		}

  }

  &__content {
    @include adaptiveValue("padding-right", 95, 30, 2, 1420, 992);
		@media (max-width:$mobileSmall){
			text-align: center;
		}
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    margin-bottom: rem(30);
  }

  &__text {
    @include adaptiveValue("margin-bottom", 48, 30);
  }

  &__items {}

  &__image {
    align-self: start;
  }
}

.items-how {

  &__item {
    display: flex;
    align-items: start;
    gap: rem(32);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }

		@media (max-width:$mobileSmall){
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
  }

  &__content {
    order: 2;
  }

  &__title {
    font-size: rem(20);
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__text {
    max-width: rem(280);
    font-weight: 400;
  }

  &__icon {
    border-radius: 50%;
    flex: 0 0 rem(110);
		width: rem(110);
    height: rem(110);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.1);
  }
}

.image-block {
  align-self: center;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
	overflow: hidden;
  border-radius: rem(20);
  @include adaptiveValue("padding-top", 165, 30);
  @include adaptiveValue("padding-bottom", 165, 30);
  @include adaptiveValue("padding-left", 45, 30);
  @include adaptiveValue("padding-right", 45, 30);
  position: relative;

	&__circle {
		top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    @include adaptiveValue("width", 585, 250);
    @include adaptiveValue("height", 585, 250);

    &::before {
      content: '';
      display: block;
      border-radius: 50%;
      border: 1px solid #ffffff;
      width: 100%;
      height: 100%;
    }

		&_1 {
			&::before{
				content:'';
				transform: translate(calc(83.5% - rem(18)), -20%);
			}
		}

		&_2 {
			&::before{
				content:'';
				transform: translate(calc(83.5% - rem(18)), -6%);
			}
		}
	}

/*   &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid #fff;
    @include adaptiveValue("width", 585, 250);
    @include adaptiveValue("height", 585, 250);
    top: 0;
    right: 0;
  }

	&::before{
		content:'';
		transform: translate(calc(50% - rem(18)), -20%);
	}

	&::after{
		content:'';
		transform: translate(calc(50% - rem(18)), -6%);
	} */


  &__item {
		text-align: center;
		position: relative;
		z-index: 2;
    flex: 1 1 100%;

    & img {
      max-width: 100%;
      border-radius: rem(20);
    }
  }
}


//====================================================================================================